@model CYJ.Models.ServiceDelivery

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ServiceDelivery</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<br />
<div>
    <h4>Team:</h4><select>
    <option value="Impact">Impact</option>
    <option value="Development">Development</option>
    <option value="OpEx">OpEx</option>
    <option value="RAD">RAD</option>
    </select>
    <h4>Group:</h4><select>
    <option value="ServiceDelivery">Service Delivery</option>
    <option value="CorpsMemberExperience">Corps Member Experience</option>
    <option value="ExternalAffaris">External Affairs</option>
    <option value="Revenue">Revenue</option>
    <option value="OpEx">OpEx</option>
    <option value="RAD">RAD</option>
</select>
    <h4>Category:</h4><select>
    <option value="ELA">ELA</option>
    <option value="Math">Math</option>
    <option value="Attendance">Attendance</option>
    <option value="Behavior">Behavior</option>
</select>
    <h4>Subcategory:</h4><select>
    <option value="Enrollment">Enrollment</option>
    <option value="Dosage">Dosage</option>
    <option value="Prevention">Prevention</option>
    <option value="Growth">Growth</option>
    <option value="Recovery">Recovery</option>
</select>
    <h4>Goal Name:</h4><select>
    <option value="Annual">Annual</option>
    <option value="BestofCY">Best of City Year</option>
    <option value="Q1">Q1</option>
    <option value="Q1Actual">Q1 Actual-to-date</option>
    <option value="Q2">Q2</option>
    <option value="Q2Actual">Q2 Actual-to-date</option>
    <option value="Q3">Q3</option>
    <option value="Q3Actual">Q3 Actual-to-date</option>
    <option value="Q4">Q4</option>
    <option value="Q4Actual">Q4 Actual-to-date</option>
</select>
    <h4>Goal Value:</h4><input type="text" id="goalValue">
    <center><input type="button" value="Submit"> @Html.ActionLink("Cancel", "Index", "ServiceDelivery")</center>
</div>
